<h2>Fees Records</h2>

<!--<button (click)="addFees()">Add Fees</button>-->
<!--<br> <br>-->
<table border="1">
  <thead>
  <tr>
    <th>Roll No</th>
    <th>StudentName</th>
    <th>ClassName</th>
    <th>Fees Pending</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let fee of fees">
    <td>{{ fee.rollNo }}</td>
    <td>{{ fee.studentName }}</td>
    <td>{{ fee.className }}</td>
    <td>{{ fee.feesPending}}</td>
    <td>
      <button (click)="editFees(fee.id)">pay</button>
      <button (click)="deleteFees(fee.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

