<h2>List Of Accountants</h2>
<app-confirm-modal
  [show]="showError"
  title="Accountant record delete"
  message="Are you sure you want to delete this accountant"
  (cancel)="closeModal()"
  (confirm)="confirmModal()">
</app-confirm-modal>

<button (click)="register()">Add Accountant</button>
<br><br>
<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let u of user">
    <td>{{ u.firstName }}</td>
    <td>{{ u.lastName }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.status }}</td>
    <td>
      <button (click)="editAccountant(u.id!)">Edit</button>
      <button (click)="deleteAccountant(u.id!)">Delete</button>
    </td>
  </tr>

</table>
