<div class="form-container">
  <div class="forgot-wrapper">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <h2>Forgot Password</h2>

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
        required
      />

      <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid" style="color:red; margin-bottom:10px;">
        Please enter a valid email
      </div>

      <button type="submit" [disabled]="forgotForm.invalid">Reset Password</button>

<!--      <div *ngIf="message" style="margin-top:10px; color:green; text-align:center;">-->
<!--        {{ message }}-->
<!--      </div>-->

<br><br>
    <div class="auth-link">
      <a routerLink="/login">Back to Login</a>
    </div>
    </form>
  </div>
</div>
